
*{
    color: black;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
}
.container-fluid{
    background-color: #8723ff;
}
.main-container{
    max-width: 1200px;
    min-height: calc(100vh - 108px);
}
.navbar .navbar-brand{
    color: white;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.edulog .bundle-image{
    border-radius: 8px;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 24px -6px rgb(0 0 0 / 35%);
}
.nav-link .help-icon-task{
    color: white;
    font-size: 28px;
}
.nav-link .help-para{
    color: white;
}
.nav-link .notification-icon{
    font-family: "FontAwesome";
    /* content: "/f0f3"; */
    color: white;
    font-size: 24px;
    position: relative;
    top: 3px;
}
.nav-link .user-profile-icon{
    font-family: "FontAwesome";
    content: "\C23";
    color: white;
}
.nav-link .user-name-para{
    color: white;
}
.nav-link.dropdown-toggle::after{
    color: white;
}
.user-heading-container .main-heading{
    font-weight: 400;
}
.option{
    color: #8723ff;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid #8723ff;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.option .options-icons{
    color: #8723ff;
    font-weight: 500;
    font-size: 12px;
}
.understanding-link-container i{
    color: rgb(105,105,105);
}
.understanding-help{
    border-top: 1px solid rgb(180,180,180);
}
.understanding-help .understanding-text{
    color: rgb(105,105,105);
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
.user-space-container{
    overflow: visible;
    box-shadow: 0px 2px 24px -6px rgb(0 0 0 / 50%);
    border-radius: 16px;
    margin-bottom: 32px;
}
.independent-space-container{
    border-bottom: 1px solid rgb(180, 180, 180);
}
.independent-space-container .independent-learning-heading{
    font-weight: 400;
    font-size: 32px;
    color: rgb(50,50,50);
}
.independent-space-container .independent-learning-description{
    font-weight: 600;
}
.edulog .edulog-um{
    font-weight: 700;
}
.edulog i{
    font-size: 20px;
    color: #323232;
    font-weight: 700;
}
.about-product-image{
    background-color: #8723ff;
    
}
.about-product-image .progress-icon{
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    width: 40px;
    scale: 0.4;
}
.about-product-desc{
    font-weight: 600;
}
.about-product-desc .about-product-content-2{
    font-size: 12px;
    color: rgb(105,105,105);
}
.test-products{
    border-top: 1px solid #DADADA;
    font-size: 14px;
}
.product-image i{
    font-size: 24px;
}
.product-desc .product-content-1{
    font-weight: 600;
}
.product-desc .product-content-2{
    font-size: 12px;
    font-weight: 600;
    color: rgb(105,105,105);
}
.footer-link{
    color: #696969;
}
.cup-footer{
    box-shadow: 0 2px 16px -6px rgb(0 0 0 / 25%);
}
.products-link{
    flex-basis: 90%;
}
i.fa-ellipsis-v {
    position: relative;
    top: 6px;
}
.language{
    margin-top: 20px;
    font-size: 14px;
}
.language i{
    color: #8723ff;
    margin-right: 5px;
    font-size: 12px;
}
.language span{
    color: #8723ff;
    font-size: 12px;
}

.footer-link{
    font-size: 12px;
    font-weight: 500;
}
.footer-link-assessment{
    font-size: 12px;
    color: #696969;
}
.help-button{
    color: white;
    background-color: #8723ff;
    border-radius: 15px;
    padding: 6px 12px 6px 4px;
    font-size: 12px;
    font-weight: 600;
}
.help-button i{
    color: white;
    align-self: center;
    margin-left: 6px;
    margin-right: 6px;
}
@media screen and (min-width:768px) {
    .nav-link .help-icon-task{
        font-size: 28px;
    }
    .nav-link .help-para{
        font-size: 14px;
    }
    i.fa-ellipsis-v{
        position: relative;
        top: 8px;
    }
    .about-product{
        border-bottom: 1px solid #DADADA;
    }
    .test-products{
        border-top: none;
        border-bottom: 1px solid #DADADA;
    }
    .footer-link{
        border-right: 1px solid #696969;
    }
    .navigation a:last-child{
        border-right: none;
    }
    .test-products:nth-child(even):after{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 55%;
        background: #DADADA;
        transform: translate(0, -50%);
    }
    
}
@media screen and (min-width:992px){
    .test-products:nth-child(n):after{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 55%;
        background: #DADADA;
        transform: translate(0, -50%);
    }
}
@media screen and (min-width:1280px){
    .language{
        margin-top: 0px;
    }
}
